/* ---------------------------------------------------
                        GENERAL
----------------------------------------------------- */

* {
  box-sizing: border-box;
}

body {
  background: url('img/background_accueil.jpg') no-repeat center center fixed;
 	display: table;
  position: relative;
 	width: 100%;
	height: 100%;
	background-size: cover;
}

a, a:hover, a:focus {
  color: inherit;
  text-decoration: none;
  transition: all 0.3s;
}

.navbar {
  padding: 15px 10px;
  border: none;
  border-radius: 0;
  margin-bottom: 40px;
  box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.1);
}

.navbar-btn {
  box-shadow: none;
  outline: none;
  border: none;
}

.section {
  width: 75%;
  border-radius: 30px;
  overflow: auto;
}

#page1, #page2, #page3, #page4, #page5, #page6, #page7 {
    height: 100vh;
    width: 100%;
    padding-top: 80px;
    overflow: auto;
}

.Titre {
  text-decoration: underline;
}

/* ---------------------------------------------------
                        SIDEBAR
----------------------------------------------------- */

#sidebar {
  min-height: 100%;
  min-width: 250px;
  max-width: 250px;
  color: white;
  transition: all 0.3s;
}

#sidebar.active {
  margin-left: -250px;
}

#sidebar .sidebar-header {
  padding: 20px;
  border-bottom: 1px solid white;
}

#sidebar ul.components {
  padding: 20px 0;
  border-bottom: 1px solid white;
}

#sidebar ul li a {
  padding: 10px 10px 10px 20px;
  display: block;
}

#sidebar ul li a:hover {
  color: black;
  background: white;
}

/* ---------------------------------------------------
                        CONTENT
----------------------------------------------------- */

#content {
  margin-left: 250px;
  transition: all 0.3s;
}

#sidebar.active~#content {
  margin-left: 0;
}

#navbar {
  margin-left: 250px;
  transition: all 0.3s;
}

#sidebar.active~#content>#navbar {
  margin-left: 0;
}

/* ---------------------------------------------------
                        ACCUEIL
----------------------------------------------------- */

#page1 {
  display: flex;
  align-items: center;
  justify-content: center;
}

.texteaccueil {
  width: max-content;
  margin-left: auto;
  margin-right: auto;
}

/* ---------------------------------------------------
                      PRESENTATION
----------------------------------------------------- */

#presentationPhoto {
  margin-bottom: 30px;
}

#photoProfil {
  border-radius: 30px;
  height: 300px;
  overflow: auto;
}

#presentationTexte {
  text-align: justify;
}

/* ---------------------------------------------------
                      COMPETENCES
----------------------------------------------------- */

.logos {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.logos>img {
  height: 150px;
  padding: 20px;
}

/* ---------------------------------------------------
                      DIPLOMES
----------------------------------------------------- */



/* ---------------------------------------------------
                      EXPERIENCE
----------------------------------------------------- */



/* ---------------------------------------------------
                    QUELQUES PROJETS
----------------------------------------------------- */

div#slider {
  width: 80%;
  max-width: 1000px;
}

div#slider figure {
  position: relative;
  width: 500%;
  margin: 0;
  padding: 0;
  font-size: 0;
  text-align: left;
}

div#slider figure img {
  width: 20%;
  height: auto;
  float: left;
}

div#slider {
  width: 80%;
  max-width: 1000px;
  overflow: hidden;
}

@keyframes slidy {
  0% { left: 0%; }
  20% { left: 0%; }
  25% { left: -100%; }
  45% { left: -100%; }
  50% { left: -200%; }
  70% { left: -200%; }
  75% { left: -300%; }
  95% { left: -300%; }
  100% { left: -400%; }
}

div#slider figure {
  position: relative;
  width: 500%;
  margin: 0;
  padding: 0;
  font-size: 0;
  left: 0;
  text-align: left;
  animation: 30s slidy infinite;
}

/* ---------------------------------------------------
                        CONTACT
----------------------------------------------------- */

.formulaire {
  display: flex;
  justify-content: center;
}

label {
  font-weight: bold;
}

.form-group {
  min-width: 200px;
}

textarea {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  width: 100%;
}

.submit {
  text-align: center;
}

/* ---------------------------------------------------
                        FOOTER
----------------------------------------------------- */

.footer {
  min-height: 100px;
  margin-top: 20vh;
}

.follow {
  max-height: 50px;
}

/* ---------------------------------------------------
                      MEDIA QUERIES
----------------------------------------------------- */

@media (max-width: 1268px) {

  #sidebar {
    margin-left: -250px;
  }

  #sidebar.active {
    margin-left: 0;
  }

  #sidebarCollapse span {
    display: none;
  }

  #content {
    margin-left: 0;
  }

  #sidebar.active~#content {
    margin-left: 250px;
  }

  #navbar {
    margin-left: 0;
  }

  #sidebar.active~#content>#navbar {
    margin-left: 250px;
  }

}

@media screen and (max-width: 1268px) {

  .section {
    width: 90%;
  }

}

@media screen and (max-width: 768px) {

  h2 {
    font-size: 1.5em;
  }

  h3 {
    font-size: 1.2em;
  }

  h4 {
    font-size: 1em;
  }

  #sidebarCollapse {
    display: none;
  }

  .texteaccueil {
    font-size: 1.2em;
  }

  #presentationPhoto {
    margin-bottom: 15px;
  }

  #photoProfil {
    margin-left: auto;
    margin-right: auto;
    height: 250px;
  }

  #presentationTexte {
    margin-top: 25px;
  }

}
